@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Registration Form Project</h1>
    <h1 class="display-4">By Hitesh Kumar Dewangan</h1>
    <br />
    <br />
    <h5 class="display-6">Click on Users to see users list</h5>
</div>
